/*
 * @NOTE: Prepend a `~` to css file paths that are in your node_modules
 *        See https://github.com/webpack-contrib/sass-loader#imports
 */

/* The top-most layers will all act like 'body' */
body,
#root,
#root > section {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  position: fixed;
}

#root > section {
  /* padding: 1em; */
  overflow: auto;
}

#root > section > #content {
  margin: 1em;
}

.tmdb-link {
  margin: 0.25em;
}

.tmdb-logo {
  height: 1em;
  vertical-align: baseline;
}

.TmdbCredits p {
  margin: 1em;
}
